.container {
    padding: 2.5rem 0 10rem;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(180deg, #e4f4f6, 80%, #fff);

    @media screen and (max-width: 768px) {
        padding-bottom: 6rem;
    }

    >div {
        width: min(90%, 1400px);
        align-items: center;

        @media screen and (max-width: 768px) {
            flex-direction: column-reverse;
        }
    }

    .tabContent,
    .tabs {
        padding-left: 3rem;

        @media screen and (max-width: 768px) {
            padding-left: 0;
        }
    }

    .tabs {
        display: flex;
        justify-content: flex-start;

        .tab {
            padding: 10px 20px;
            border: none;
            background-color: transparent;
            cursor: pointer;
            font-size: 24px;
            color: #333;
            transition: all 0.3s ease;
            margin: 0;
            margin-right: 1rem;

            @media screen and (max-width: 768px) {
                padding: 6px;
            }
        }

        .tab.active {
            border-bottom: 2px solid #007bff;
            color: rgb(25, 118, 210);
        }
    }


    .tabContent {
        margin-top: 20px;

        p {
            font-size: 18px;

            @media screen and (max-width: 768px) {
                margin-bottom: 1.4rem;
            }
        }
    }


}